In [2]:
import pandas as pd
import os

In [3]:
root_folder = "TXT"
df = pd.DataFrame(columns=["country", "text", "year"])

# This dictionary will store the content of each file
file_contents = {}

# Walk through all subfolders and files in the 'txt' folder
for current_dir, sub_dirs, files in os.walk(root_folder):
    for file in files:
        # Skip files that start with '.'
        if file.startswith("."):
            continue
        current_year=current_dir[-4:]
        country_iso=file.split('_')[0]
        file_path = os.path.join(current_dir, file)
        # Read the content of each file
        with open(file_path, 'r') as f:
            content = f.read()
            # Store the content in the df
            new_row = {"country": country_iso, "year": int(current_year), "text": content}
            # Append the new row to the DataFrame
            df.loc[len(df)] = new_row


df

      country                                               text  year
0         CHL  I shall occupy this rostrum for a few minutes ...  1946
1         COL  The Colombian delegation does not consider it ...  1946
2         BLR  As more than a year has elapsed since the Unit...  1946
3         IND  I stand before this great Assembly — unique in...  1946
4         GBR  In his great pronouncement here the other day,...  1946
...       ...                                                ...   ...
10563     GAB  It is my pleasant duty to offer you, Mr. Presi...  1963
10564     TCD  It Is not without a certain pride, mixed with ...  1963
10565     COL  Colombia, and the delegation which represents ...  1963
10566     TUN  Mr. President, it is a pleasure for me first o...  1963
10567     IRQ  Mr. President, it gives me great pleasure to e...  1963

[10568 rows x 3 columns]

In [4]:
import country_converter as coco

# we add a column for the country 
cc = coco.CountryConverter()

# we get rid of EU because it isnt a countr
data = df[df['country'] != 'EU']

country_raw = data['country']

# list of conversion former country => new country
former_country_new={'YDYE':'YEM', 'YMD':'YEM', 'CSK':'CZE', 'CZK':'CZE', 'YUG':'SRB', 'DDR':'DE'}
some_names = country_raw.map(former_country_new).fillna(country_raw)
country_name_short = cc.convert(names = some_names, to = 'name_short')

data.loc[:,'country_name_short']=country_name_short
data

/tmp/ipykernel_18147/375685437.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'country_name_short']=country_name_short

,country,text,year,country_name_short
0,CHL,I shall occupy this rostrum for a few minutes ...,1946,Chile
1,COL,The Colombian delegation does not consider it ...,1946,Colombia
2,BLR,As more than a year has elapsed since the Unit...,1946,Belarus
3,IND,I stand before this great Assembly — unique in...,1946,India
4,GBR,"In his great pronouncement here the other day,...",1946,United Kingdom
...,...,...,...,...
10563,GAB,"It is my pleasant duty to offer you, Mr. Presi...",1963,Gabon
10564,TCD,"It Is not without a certain pride, mixed with ...",1963,Chad
10565,COL,"Colombia, and the delegation which represents ...",1963,Colombia
10566,TUN,"Mr. President, it is a pleasure for me first o...",1963,Tunisia
10567,IRQ,"Mr. President, it gives me great pleasure to e...",1963,Iraq

In [5]:
data.to_csv('un_general_debates_extended.csv')

In [6]:
df=pd.read_csv('un_general_debates_extended.csv', index_col=0)
df

,country,text,year,country_name_short
0,CHL,I shall occupy this rostrum for a few minutes ...,1946,Chile
1,COL,The Colombian delegation does not consider it ...,1946,Colombia
2,BLR,As more than a year has elapsed since the Unit...,1946,Belarus
3,IND,I stand before this great Assembly — unique in...,1946,India
4,GBR,"In his great pronouncement here the other day,...",1946,United Kingdom
...,...,...,...,...
10563,GAB,"It is my pleasant duty to offer you, Mr. Presi...",1963,Gabon
10564,TCD,"It Is not without a certain pride, mixed with ...",1963,Chad
10565,COL,"Colombia, and the delegation which represents ...",1963,Colombia
10566,TUN,"Mr. President, it is a pleasure for me first o...",1963,Tunisia
10567,IRQ,"Mr. President, it gives me great pleasure to e...",1963,Iraq